<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <link rel="stylesheet" href="../../static/adminResources/css/custom.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/adminResources/css/waves.min.css">

</head>

<body>

<div id="single-wrapper">
    <form action="/user/insertRegister" method="POST" class="frm-single">
        <div class="inside">
            <div class="title"><strong>Crop Disease Prediction</strong></div>
            <!-- /.title -->
            <div class="frm-title">Register</div>
            <!-- /.frm-title -->
            <!--<div class="frm-input"><input type="email" placeholder="Email" name="registerFirstname" class="frm-inp"><i class="fa fa-envelope frm-ico"></i></div>-->
            <!-- /.frm-input -->

            <div class="frm-input"><input type="text" placeholder="firstname" name="registerFirstname"
                                          class="frm-inp"><i class="fa fa-user frm-ico"></i></div>

            <div class="frm-input"><input type="text" placeholder="lastname" name="registerLastname" class="frm-inp"><i
                    class="fa fa-user frm-ico"></i></div>

            <div class="frm-input"><input type="email" placeholder="Username" name="loginUsername" class="frm-inp"><i
                    class="fa fa-envelope frm-ico"></i></div>
            <!-- /.frm-input -->

            <!-- /.frm-input -->
            <div class="frm-input"><input type="text" placeholder="Address" name="registerAddress" class="frm-inp">
            </div>


            <div class="frm-input"><input type="text" placeholder="contact" name="registerContact" class="frm-inp"><i class="fas fa-phone-alt"></i>
            </div>

            <!--<div class="clearfix margin-bottom-20">
                <div class="checkbox primary"><input type="checkbox" id="accept"><label for="accept">I accept Terms and Conditions</label></div></div>-->
            <!-- /.clearfix -->
            <div>
                <button type="submit" class="frm-submit">Register<i class="fa fa-arrow-circle-right"></i></button>
            </div>
            <!-- /.row -->
            <div>
                <a href="/" class="a-link"><i class="fa fa-sign-in"></i>Already have account? Login.</a>
                <div class="frm-footer"></div>
                <!-- /.footer -->
            </div>
            <!-- .inside -->
        </div>
    </form>
    <!-- /.frm-single -->
</div><!--/#single-wrapper -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
		<script src="../../static/adminResources/js/html5shiv.min.js"></script>
		<script src="../../static/adminResources/js/respond.min.js"></script>
	<![endif]-->
<!--================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

 <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
<script src="../../static/adminResources/js/jquery.min.js"></script>
<script src="../../static/adminResources/js/modernizr.min.js"></script>
<script src="../../static/adminResources/js/popper.min.js"></script>
<script src="../../static/adminResources/js/bootstrap.min.js"></script>
<script src="../../static/adminResources/js/nprogress.js"></script>
<script src="../../static/adminResources/js/waves.min.js"></script>

<script src="../../static/adminResources/js/main.min.js"></script>
<script src="../../static/adminResources/js/mycommon.js"></script>
</body>
</html>