<style>
    </style>
<div class="main-menu">
    <header class="header">
        <a href="index.html" class="logo">Crop Disease Prediction</a>
        <button type="button" class="button-close fa fa-times js__menu_close"></button>
        <div class="user">
            <a href="#" class="avatar"><img src="../../static/adminResources/image/profile.jpg" alt=""><span
                    class="status online"></span></a>
            <h5 class="name"><a href="profile.html">Admin</a></h5>

            <h5 class="position">{{session['session_loginUsername']}}</h5>

            <!-- /.name -->
            <div class="control-wrap js__drop_down">
                <i class="fa fa-caret-down js__drop_down_button"></i>
                <div class="control-list">
              <!--/      <div class="control-item"><a href="profile.html"><i class="fa fa-user"></i> Profile</a></div>
                    <div class="control-item"><a href="#"><i class="fas fa-cog"></i> Settings</a></div>
              -->      <div class="control-item"><a href="/admin/logoutSession"><i class="fa fa-sign-out"></i> Log out</a>
                    </div>
                </div>
                <!-- /.control-list -->
            </div>
            <!-- /.control-wrap -->
        </div>
        <!-- /.user -->
    </header>
    <!-- /.header -->
    <div class="content">

        <div class="navigation">
            <h5 class="title">Navigation</h5>
            <!-- /.title -->
            <ul class="menu js__accordion">
                <li class="current">
                    <a class="waves-effect" href="/admin/loadDashboard"><i class="menu-icon fa fa-home"></i><span>Admin Dashboard</span></a>
                </li>
                <li>
                    <a href="/admin/viewUser "><img src="../../static/adminResources/image/iconuser.png" alt="" class=""  style=
    "position: absolute;
    top:15px;
    left:7px;
    width:20px;
    font-size: 18px;
    line-height: 49px;
    text-align: center;

    vertical-align: middle;
    " hspace="10"><span>Manage User</span><span></span></a>

                    <!-- /.sub-menu js__content -->
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#" ><img src="../../static/adminResources/image/iconcroptype.png" alt="" class=""  style=
    "position: absolute;
    top:15px;
    left:5px;
    width:25px;
    font-size: 18px;
    line-height: 49px;
    text-align: center;

    vertical-align: middle;
    " hspace="10"><span>Manage Crop Type</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/admin/loadCropType">Add Crop Type</a></li>
                        <li><a href="/admin/viewCropType">view Crop Type</a></li>

                    </ul>
                    <!-- /.sub-menu js__content -->
                </li>

            </ul>
            <!-- /.menu js__accordion -->

            <!-- /.title -->
            <ul class="menu js__accordion">
                <li>
                    <a class="waves-effect parent-item js__control" href="#">
                            <img src="../../static/adminResources/image/iconcropname.png" alt="" class=""  style=
    "position: absolute;
    top:15px;
    left:7px;
    width:22px;
    font-size: 18px;
    line-height: 49px;
    text-align: center;

    vertical-align: middle;
    " hspace="10"><span>Manage Crop Name </span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/admin/loadCropName">Add Crop Name</a></li>
                        <li><a href="/admin/viewCropName">view crop Name</a></li>

                    </ul>
                    <!-- /.sub-menu js__content -->
                </li>
                <li>
                    <a class="waves-effect" href="/admin/viewImage"><img src="../../static/adminResources/image/iconimage.png" alt="" class=""  style=
    "position: absolute;
    top:15px;
    left:7px;
    width:22px;
    font-size: 18px;
    line-height: 49px;
    text-align: center;

    vertical-align: middle;
    " hspace="10"><span>Manage Image</span></a>
                </li>


                <li>
                    <a class="waves-effect" href="/admin/viewDetection "><img src="../../static/adminResources/image/icondetection.png" alt="" class=""  style=
    "position: absolute;
    top:15px;
    left:7px;
    width:22px;
    font-size: 18px;
    line-height: 49px;
    text-align: center;

    vertical-align: middle;
    " hspace="10"><span>Manage Detection</span></a>
                </li>


            </ul>
            <!-- /.menu js__accordion -->

            <!-- /.title -->
            <ul class="menu js__accordion">
                <li>
                    <a class="waves-effect" href="/admin/viewComplain"><img src="../../static/adminResources/image/iconcoplain.png" alt="" class=""  style=
    "position: absolute;
    top:15px;
    left:7px;
    width:22px;
    font-size: 18px;
    line-height: 49px;
    text-align: center;

    vertical-align: middle;
    " hspace="10"><span>Manage Complain</span></a>
                </li>

                <li>
                    <a class="waves-effect" href="/admin/viewFeedback"><img src="../../static/adminResources/image/iconfeedback.png" alt="" class=""  style=
    "position: absolute;
    top:15px;
    left:7px;
    width:25px;
    font-size: 18px;
    line-height: 49px;
    text-align: center;

    vertical-align: middle;
    " hspace="10"><span>Manage Feedack</span></a>
                </li>
                <!--
                   <li>
                       <a class="waves-effect parent-item js__control" href="http://127.0.0.1:3030/admin/viewFeedback"><i
                               class="menu-icon fa fas fa-file-alt"></i><span>Manage feedback</span><span></span></a>

                       <!-- /.sub-menu js__content --></li>
                <li>


                <li>
                    <a class="waves-effect parent-item js__control" href="#"><img src="../../static/adminResources/image/icondataset.png" alt="" class=""  style=
    "position: absolute;
    top:15px;
    left:5px;
    width:25px;
    font-size: 18px;
    line-height: 49px;
    text-align: center;

    vertical-align: middle;
    " hspace="10"><span>Manage Dataset</span><span
                            class="menu-arrow fa fa-angle-down"></span></a>
                    <ul class="sub-menu js__content">
                        <li><a href="/admin/loadDataset">Add dataset</a></li>
                        <li><a href="/admin/viewDataset">view dataset</a></li>

                    </ul>
                    <!-- /.sub-menu js__content -->
                </li>
                <!-- /.sub-menu js__content -->
                </li>
            </ul>
            <!-- /.menu js__accordion -->
        </div>
        <!-- /.navigation -->
    </div>
    <!-- /.content -->
</div>
